<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
	<title>
		Books Library Management System
	</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
nav{
    float: right;
    word-spacing: 30px;
    padding: 20px;
}
nav li{
    display: inline-block;
    line-height: 80px;
}
</style>
<body>
    <form action="/blist" method="get"></form>
	<div class="wrapper">
		<header>
		<div class="logo">
			<img src="images/9.png">
			<h1 style="color: white; display: inline-block; margin-left: 40PX; margin-top: 40PX;">BOOKS LIBRARY MANAGEMENT SYSTEM</h1>
		</div>
			<nav>
				<ul>
					<li><a href="/">HOME</a></li>
					<!-- <li><a href="/blist">BOOKS</a></li> -->
					<li><a href="/alogin">ADMIN-LOGIN</a></li>
					<li><a href="/login">STUDENT-LOGIN</a></li>
					<!-- <li><a href="admin_login.html">ADMIN-LOGIN</a></li> -->
					<li><a href="/sign">REGISTRATION</a></li>
					<li><a href="/feed">FEEDBACK</a></li>
				</ul>
			</nav>
		</header>
		<section>
		<div class="sec_img">
			<div class="w3-content w3-section" style="width: 100%; height: 300px;">
				<img class="mySlides w3-animate-left" src="images/e.jpg" style="width: 100%; height: 650px;">
				<img class="mySlides w3-animate-left" src="images/c.jpg" style="width: 100%; height: 650px;">
				<img class="mySlides w3-animate-fading" src="images/d.jpg" style="width: 100%; height: 650px;">
				<img class="mySlides w3-animate-fading" src="images/b.jpg" style="width: 100%; height: 650px;">
			</div>
	
	<script type="text/javascript">
		var a=0;
		carousel();
	
		function carousel()
		{
			var i;
			var x= document.getElementsByClassName("mySlides");
	
			for(i=0; i<x.length; i++)
			{
				x[i].style.display="none";
			}
	
			a++;  
			if(a > x.length) {a = 1}
				x[a-1].style.display = "block";
				setTimeout(carousel, 5000);
		}
	</script>
			<div class="box"><br>
				<h1 style="text-align: center; font-size: 35px;">Welcom to Library</h1><br><br>
				<h1 style="text-align: center;font-size: 25px;">Opens at: 09:00 </h1><br>
				<h1 style="text-align: center;font-size: 25px;">Closes at: 16:00 </h1>
			</div>
		</div>
		</section>
		<footer>
			<p style="color:white;  text-align: center; ">
				<br><br>
				@copyright Online.library@gmail.com <br>
				<!-- Mobile: +88018******** -->
			</p>
		</footer>
	</div>
</body>
</html>